@charset "UTF-8";
body {
    margin:0;
    padding:0;
    background-color:#000000;
}
h1, h2, h3{
    color: white;
    text-align:center;
}
/*  this lines up the navigation bar */ 
#sidebar li {
  list-style:none;
  margin-right:15px;
  display: inline-block;
}
.wrapper {
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000; 
}
/* This will make the size of the Matrix logo to be size of 200px, bolded, and with a font of Arial. */ 
.txt {
    color: #ffffff;
    background:#000000;
    font-size:200px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
}
.txt::before {
    content: 'Matrix';
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(3px);
}
.neon-wrapper {
    display:inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}
/* Gradient, dodge, and dodge-area areto make the MATRIX logo so I will be using blue, yellow, and green*/ 
.gradient{
    background: linear-gradient(114.5793141156962deg, rgba(6, 227, 250,1) 4.927083333333334%,rgba(229, 151, 64,1) 97.84374999999999%);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    mix-blend-mode: multiply;
}
.dodge {
    background: radial-gradient(circle,white,black 35%) center / 25% 25%;
    position: absolute;
    top:-100%;
    left:-100%;
    right:0;
    bottom:0;
    mix-blend-mode: color-dodge;
    animation: dodge-area 3s linear infinite;
}
@keyframes dodge-area {
    to {
        transform: translate(50%,50%);
    }
    img{
    max-width: 100%;
    height: auto;
}
}